## Here, we "extend" the base template, this is like an inhertiance between
## Page templates
#extends Templates.Base
#def header
#end def
#def content
#end def
#def footer
#end def
#def body
<div id="header">$header</div>
<div id="content">$content</div>
<div id="footer">$footer</div>
#end def
