#extends Templates.Page
##
## The DEPENDS line specifies files on which this page template depends. In this
## case, whenever a file starting with 'depen' and ending with '.data' changes,
## this page template will be generated again.
##
##DEPENDS=depen*.data
#def title
Welcome to Tahchee
#end def
##
## The following 'kiwiContent' declares text written in the Kiwi
## (http://www.ivy.fr/kiwi) markup language. Kiwi allows you to write HTML in
## much easier way, without having to type most of HTML tags. To convert
## some string (that you give directly or that you reference) from Kiwi to
## HTML, you can invoke the kiwi plugin by doing '$kiwi($mykiwicontent)'.
## 
#def kiwiContent

	Tahchee also allows to use the [Kiwi markup language][KIWI] to easily write your
	Webpage. Kiwi is a tool that allows to blend XML markup with Wiki-like
	syntax, allowing to write your webpages much more easily than what you would
	do "by hand".

	Kiwi allows you to:

	- Write plain text and automatically convert clean, pure XHTML from it
	- Use XML markup anywhere you want in your text
	- Lists and tables can be done using Kiwi markup

	This will allow to write your websites much more easily than before.

	[KIWI]: <http://www.ivy.fr/kiwi>

#end def
#def content
<div id="header">
<a href="http://www.ivy.fr/tahchee">Tahchee</a> v.0.9
</div>

<div id="content">
<h1>Welcome to Tahchee</h1>

<p><a href="http://www.ivy.fr/tahchee">Tahchee</a>  is build system and an
set of extensions to the <a href="http://www.cheetahtemplate.org">Cheetah</a>
template system.
</p>

<p>Here is <a href="http://www.ivy.fr/kiwi">Kiwi</a> markup content:</p>
<pre>$escape.toHTML($kiwiContent)</pre>
<p>and here is the rendered version</p>
<blockquote>$kiwi($kiwiContent)</blockquote>

<p>This page was created by the default templates provided, and will help you
understand how to get started with Tahchee.</p>

</div>

#end def
#def footer
<div id="footer">
<a href="http://www.ivy.fr/tahchee">Tahchee</a> &copy; <a href="http://www.ivy.fr">Ivy</a>, 2004-2006.
</div>
#end def

